DOMAIN=localhost
ENTRYPOINT=websecure
TLS_ENABLED=true
CERT_RESOLVER=myresolver
TRAEFIK_API_INSECURE=false

# Telegram Bot Config
TELEGRAM_BOT_TOKEN=your_bot_token_here
TELEGRAM_BOT_ALLOWED_USERS=12345678,987654321

# Database (Shared by Backend and Bot)
MAIN_DB_USER=root
MAIN_DB_PASSWORD=your-super-secret-password
MAIN_DB_NAME=main_db
MAIN_DB_HOST=main-db
MAIN_DB_PORT=5432

# Cache
CACHE_HOST=valkey
CACHE_PORT=6379
CACHE_PASSWORD=your-super-secret-password

# Application Paths
STORAGE_URL=http://localhost/storage

JWT_SECRET_KEY=your-super-secret-jwt-key
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=15
JWT_REFRESH_TOKEN_EXPIRE_DAYS=7

MAIL_SENDER=your-email@gmail.com
MAIL_PASSWORD=your-app-password
MAIL_PORT=587
MAIL_SERVER=smtp.gmail.com

PHONE_TOKEN=
PHONE_NAME_SENDER=
PHONE_PROVIDER_URL=

STORAGE=file
STORAGE_URL=http://localhost:8000/storage
EMAIL_VALIDATOR_ALLOW_SPECIAL_USE_DOMAINS=true

ALLOWED_ORIGINS=