DOMAIN=localhost
ENTRYPOINT=websecure
TLS_ENABLED=true
CERT_RESOLVER=myresolver
TRAEFIK_API_INSECURE=false

# next-js .env is on the ./website dir
# below duplicated values for correct cookie working
NEXT_PUBLIC_ROOT_DOMAIN=unidoka.com
NEXT_PUBLIC_PROTOCOL=https
NEXT_PUBLIC_API_BASE_URL=https://unidoka.com
ADMIN_SECRET_URI=your-real-secret

ALLOWED_ORIGINS=https://unidoka.com,https://*.unidoka.com
STORAGE_URL=http://localhost/storage

TELEGRAM_BOT_TOKEN=your_bot_token_here
TELEGRAM_BOT_ALLOWED_USERS=12345678,987654321

MAIN_DB_USER=root
MAIN_DB_PASSWORD=your-super-secret-password
MAIN_DB_NAME=main_db
MAIN_DB_HOST=main-db
MAIN_DB_PORT=5432

CACHE_HOST=valkey
CACHE_PORT=6379
CACHE_PASSWORD=your-super-secret-password

JWT_SECRET_KEY=your-super-secret-jwt-key
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=15
JWT_REFRESH_TOKEN_EXPIRE_DAYS=7

MAIL_SENDER=your-email@gmail.com
MAIL_PASSWORD=your-app-password
MAIL_PORT=587
MAIL_SERVER=smtp.gmail.com