.git
.gitignore
.repomixignore
.env
.env.*

__pycache__/
*.py[cod]
*$py.class
.venv
venv/
env/
ENV/
htmlcov/
.coverage
.cache
.pytest_cache/
.mypy_cache/
.ruff_cache/

services/*/tmp/
services/*/storage/*

.idea/
.vscode/
.aider*
repomix*
