node_modules
.next
out
build
coverage

.git
.gitignore
.repomixignore
.github

.env*
!.env.example

Dockerfile
docker-compose.yml
README.md
LICENSE
components.json

e2e
playwright-report
test-results

.aider*
repomix*
*.log
*.tsbuildinfo
next-env.d.ts